/*common start*/
body{
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;
    font-size:16px;
    font-weight:400;
    color:#626262;
    line-height:24px;
}
/*common end*/
/*header start*/
header{
    padding: 25px 0;
    /*border:1px solid red;*/
}
.container{
    margin: 0 auto;
    width:90%;
    overflow: hidden;
    /*border:1px solid red;*/
}
.logo{
    margin-top: 12px;
    width:11%;
    float:left;
   /* border: 1px solid red;*/
}
.logo a{
    display:block;
}
.logo a img{
    width: 100%;
}
.menu{
    width:60%;
    float:right;
    /*border:1px solid red;*/
}
.menu ul{
    float: right;
}
.menu ul li{
    float:left;
    list-style:none;
}
.menu ul li a{
    margin: 0 60px;
    padding:1px 2px;
    display:inline-block; 
    color:#626262;
    text-decoration: none;
    text-transform:uppercase;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}
.menu ul li:last-child a{
    margin-right:0;
}
.menu ul li a:hover{
    border-top:1px solid #626262; 
    border-bottom:1px solid #626262;
}
/*header end*/
/*banner start*/
.banner{}
.b_content{}
.b_content img{
    width:100%;
}
/*banner end*/
/*perfect start*/
.perfect{
    padding:100px 0 120px;
    /*border:1px solid green;*/
}
.container2{
    margin:0 auto;
    width:80%;
    /*border:1px solid red;*/
}
.p_content{}
.c_tag{
    margin:0;
    font-family:'Ubuntu', sans-serif;
    font-size:14px;
    font-weight:300;
    color:#b4ad9e;
    text-transform:uppercase;
}
.c_title{
    margin:15px 0 25px;
    font-size:30px;
    font-weight:400;
    line-height:40px;
}
.c_text{
    margin:0;
}
.mb_45{
    margin-bottom:40px;
}
/*perfect end*/
/*blog start*/
.blog{
    padding:20px 0 120px;
}
.b_contents{
    overflow:hidden;
}
.s_blog{
    margin-top: 80px;
    float:left;
    width:47%;
    /*border:1px solid red;*/
}
.s_blog:nth-child(even){
    margin-left:6%;
}
.s_image{
    margin-bottom:15px;
}
.s_image img{
    width:100%;
}
/*blog end*/
/*news start*/
.news{
    padding:70px 0px;
    background-color:#f0f0f0;
}
.signup{
    text-align:center;
    /*border:1px solid red;*/
}
.s_h1{
    margin-top:0;
    margin-bottom:70px;
    color:#333333;
}
.s_form{
    position:relative;
    width:400px;
    margin:0 auto;
    /*border:5px solid red;*/
}
.s_form input{
    width:345px;
    height:45px;
    font-family: 'Playfair Display', serif;
    font-size:14px;
    color:#626262;
    background:transparent;
    border:none;
    border-bottom:1px solid;
    padding-left: 5px;
    padding-right: 45px;

}
.s_form input:focus{
    outline:0;
}
.s_form button{
    position:absolute;
    background: transparent;
    border: none;
    cursor:pointer;
    top: 15px;
    right: 0;

}
.s_form button:focus{
    outline:none;
}
.s_form button img{}
/*news end*/
/*blog2 start*/
.blog2{}
.load{
    text-align:center;
    margin:150px 0 50px;  
}
.load button{
    width:160px;
    height:60px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    background-color:transparent;
    border:1px solid #626262;
    border-radius:0px;
    cursor:pointer;
    transition:0.33s;
}
.load button:hover{
    background-color:#626262;
    color:white;
}
/*blog2 end*/
/*footer start*/
footer{
    padding:30px 0;
    background-color:#f0f0f0;
}
.left{
    width:22%;
    float:left;
    /*border:1px solid green;*/
}
.left ul{
}
.left ul li{
    float:left;
    list-style:none;
}
.left ul li a{
    padding: 0 10px;
    color:black;
    text-decoration:none;
}
.left ul li:first-child a{
    padding-left:0;
}
.right{
    width:22%;
    float:right;
    /*border:1px solid green;*/
}
.right ul{
    float:right;
}
.right ul li{
    float:left;
    list-style:none;
}
.right ul li span{
    color: black;
}
.right ul li a{
padding:0 10px;
}
.right ul li:last-child a{
    padding-right:0;
}
.right ul li a img{}



/*footer end*/